@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.command {
  cursor: pointer;
  position: relative;
  padding-right: 2rem;
  /*cursor: url('https://example.com/terminal-cursor.png'), auto;*/
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.command:hover {
  color: #00ff00; /* Cor verde neon para hover */
  text-shadow: 0 0 10px #00ff00; /* Efeito de brilho */
}
.command:active {
  transform: scale(0.95); /* Leve redução de tamanho ao clicar */
  transition: transform 0.1s; /* Transição suave */
}

.command::after {
  content: '...';
  position: absolute;
  right: 0;
  color: green;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}


.animate-typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00ff00; /* Efeito de cursor */
  animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff00; }
}
.animate-progress {
  animation: progress 3s linear infinite;
}

@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}